#ads_hidden_div {
      position: fixed;
      left: 0px;
      top: 0px;
      z-index: 9999;
      background-color: #000;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
      filter: alpha(opacity=1);
      -moz-opacity: 0.01;
      -khtml-opacity: 0.01;
      opacity: 0.01;
}

#ads_intro_div {
	background-color: #000;
	min-width: 800px;
	min-height: 600px;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 9999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	-moz-opacity: 0.4;
	-khtml-opacity: 0.4;
	opacity: 0.4;
}

#ads_intro_block {
	position: fixed;
	padding: 5px;
	top: 10%;
	left: 20%;
	display: table;
        margin: 0 auto;
	width: 50%;
	height: 200px;
	z-index: 10000;
	border: 1px solid #000;
	border-radius: 12px;
        -moz-border-radius: 12px;
        -webkit-border-radius: 12px;
	text-align: center;
}

#ads_intr_close {
	position: absolute;
	float: left;
	left: -1%;
	top: -1%;
	width : 30px;
	height: 30px;
	font-size: 22px;
	font-family: tahoma;
	border: 1px solid rgb(153, 153, 153);
	border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
	background-color: #FFF;
	color : #000;
	display: none;
}

#ads_intr_close:hover {
	background-color: #000;
	color : #FFF;
	cursor: pointer;
}