.init-hide {
	display: none;
}

.opt_box {
	border: 1px solid #ADA4A4;
	border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
	padding: 5px;
	margin : 10px 1px;
}

.opt_box:hover {
	border: 2px solid #3F3C3C;
	background-color: #FAF9F9;
}

.box-header {
	color: #815C5C;
}